/* Importando fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Importando Tailwind */
@import "tailwindcss";

/* Apollo Theme */
@theme {
  /* Cores */
  --color-apollo-100: #FFFFFF;
  --color-apollo-200: #5A2779;
  --color-apollo-300: #E0AC00;
  --color-apollo-400: #ec6c63;
  --color-apollo-500: #3BBBCE;
  --color-apollo-600: #1A2240;
  --color-apollo-700: #F0F2F6;
  --color-apollo-800: #3B105A;

  --color-pendencia-normal: #9EE682;
  --color-pendencia-atencao: #F1DB0C;
  --color-pendencia-alerta: #FF6701;
  --color-pendencia-urgente: #EB3107;
  --color-pendencia-critico: #6A0DAD;

  /* Fonte */
  --font-apollo: 'Space Grotesk', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-apollo);
    background-color: var(--color-apollo-100);
    color: var(--color-apollo-200);
  }
}
